<section class="container-fluid raffle-wrapper px-0 game-winners">
   <div class="container">
      <h1>Congratulations</h1>
      <div class="game-winners--cards">
        <div class="row">
          <div class="col">
            <div class="game-winner--wrapper">
              <span class="rank">1</span>
              <h2>Lorem Ipsum</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="game-winner--wrapper">
              <span class="rank">1</span>
              <h2>Lorem Ipsum</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="game-winner--wrapper">
              <span class="rank">1</span>
              <h2>Lorem Ipsum</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="game-winner--wrapper">
              <span class="rank">1</span>
              <h2>Lorem Ipsum</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="game-winner--wrapper">
              <span class="rank">1</span>
              <h2>Lorem Ipsum</h2>
            </div>
          </div>
        </div>
      </div>
   </div>
</section>