<div class="container-fluid raffle-wrapper px-0 poll-results">
  <div class="row">
    <h1>Poll Results</h1>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="poll-results--percent">25%</div>
    </div>
    <div class="col">
      <h2 class="poll-results--choice">Lorem Ipsum</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="poll-results--percent">25%</div>
    </div>
    <div class="col">
      <h2 class="poll-results--choice">Lorem Ipsum</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="poll-results--percent">25%</div>
    </div>
    <div class="col">
      <h2 class="poll-results--choice">Lorem Ipsum</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="poll-results--percent">25%</div>
    </div>
    <div class="col">
      <h2 class="poll-results--choice">Lorem Ipsum</h2>
    </div>
  </div>
</div>



