<div class="container content-wrapper">
    <div class="row text-end mb-3">
    <div class="col col-lg-12">
        <div class="heading-wrapper">
            <h4 class="text-start">My Profile</h4>
            <hr/>
        </div>
        <form class="profile-form-wrapper text-start">
            <div class="mb-3 px-0">
                <label htmlFor="name">Full Name</label>
                <input type="text" class="form-control" id="name"/>
            </div>
            <div class="mb-3 px-0">
                <label htmlFor="email">Email</label>
                <input type="email" class="form-control" id="email"/>
            </div>
            <div class="mb-3 px-0">
                <label htmlFor="contact_number">Contact Number</label>
                <input type="number" class="form-control" id="contact_number" />
            </div>
            <div class="mb-3 px-0">
                <label htmlFor="affiliation">Affiliation</label>
                <input type="text" class="form-control" id="affiliation" />
            </div>
            <div class="px-0">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-4 mb-3">
                        <label htmlFor="member_type">Member Type</label>
                        <select class="form-select">
                            <option>Member</option>
                            <option>Member2</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-8 mb-3">
                        <label htmlFor="member_id">Member ID</label>
                        <input type="text" class="form-control" id="member_id" />
                    </div>
                </div>
            </div>
            <div class="px-0">
                <label htmlFor="password">Password</label>
                <input type="password" class="form-control" id="password" />
            </div>
            <div class="py-3 text-center">
                <button type="submit" class="btn btn-blue px-5">SAVE</button>
            </div>
        </form>
    </div>
    </div>
</div>