<section class="container-fluid menti-wrapper px-0 poll-results" style="<%= "background-image: url( #{image_path 'temporary_bg_menti.jpg'} )" %>">
  <% if @ratings.empty? %>
    <div class="row">
      <h1 style="color: #5da4e2;">No Results!</h1>
    </div>
  <% else %>
    <div class="row">
      <h1 style="color: #5da4e2;">Poll Results</h1>
    </div>
    <% @ratings.each do |rating| %>
      <div class="row">
        <div class="col-3">
          <div class="poll-results--percent" style="background: #5da4e2;"><%= number_to_percentage(rating[:percent], precision: 2) %></div>
        </div>
        <div class="col">
          <h2 class="poll-results--choice" style="background: #5da4e2;"><%= rating[:name] %></h2>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
