<section class="container-fluid menti-wrapper menti-winners-wrapper px-0 game-winners">
   <div class="container">
     <% if @correctly_answered.empty? %>
      <h1>No Winners!</h1>
     <% else %>
      <h1>Congratulations!</h1>
      <div class="game-winners--cards">
        <% @correctly_answered.each_with_index do |ca, index| %>
          <div class="row">
            <div class="col">
              <div class="game-winner--wrapper">
                <span class="rank"><%= index + 1 %></span>
                <h2><%= ca.user.full_name %></h2>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
   </div>
</section>
