<%= render partial: "layouts/shared/breadcrumbs", locals: {
  links: [
    { path: oauth_applications_path, path_name: "Game Applications" },
    { path: edit_oauth_application_path(@application), path_name: "#{@application.id}" }
  ],
  current_path: "Edit"
} %>
<div class="container content-wrapper">
  <div class="row mb-3">
    <div class="col-12 text-start">
      <h4>Details</h4>
    </div>
    <hr/>
  </div>
  <%= render 'form', application: @application %>
</div>
