<div class="row">
  <div class="col-12 col-lg-2">
      <h4>Details</h4>
  </div>
  <div class="col-12 col-lg-10">
    <div class="mb-3">
      <div class="row">
        <div class="col col-lg-6">
          <label for="raffleType">Question</label>
          <%= f.text_field :question, class: 'form-control', id: "question" %>

        </div>
        <div class="col col-lg-6">
          <label for="prize">Question Type</label>
          <%= f.select :question_type, FeedBack::QUESTION_TYPES.invert, {}, { class: 'form-select' } %>
        </div>
      </div>
    </div>
  </div>
</div>
