<section class="single-page-layout" style="<%= @settings.contact_us_background? ? "background-image: url(\'#{@settings.contact_us_background.url}\')" : "" %>">
   <div class="container">
      <div class="row text-center py-5 justify-content-center">
         <div class="col-12 col-md-9">
            <h1>CONTACT US</h1>
            <p>
               <%= @settings.contact_us_spiel.html_safe %>
            </p>
            <div class="connect-with-us">
               <div class="content">
                  <% unless @settings.contact_us_email.empty? && @settings.contact_us_email %>
                    <p>Connect With us:</p>
                    <p class="mx-3">
                       For support or any questions
                       <br />
                       Email us at
                       <a href="mailto:quiplist.events@gmail.com">
                       <%= @settings.contact_us_email %>
                       </a><br />
                       <% unless @settings.contact_us_number.empty? %>
                        or
                        <br />
                        Call us at <%= @settings.contact_us_number %>
                       <% end %>
                    </p>
                  <% end %>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
