<section class="single-page-layout">
   <div class="container">
      <div class="row text-center py-5 justify-content-center">
         <div class="col-12 col-md-9">
            <h1>CONTACT US</h1>
            <p>
               Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
               diam nonummy nibh euismod tincidunt ut laoreet Lorem ipsum
               dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
               nibh euismod tincidunt ut laoreet dolore magna aliquam erat
               volutpat. Ut wisi enim ad minim.
            </p>
            <div class="connect-with-us">
               <div class="content">
                  <p>Connect With us:</p>
                  <p class="mx-3">
                     For support or any questions
                     <br />
                     Email us at
                     <a href="mailto:quiplist.events@gmail.com">
                     quiplist.events@gmail.com
                     </a>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>