<div class="chat-live-wrapper denied" style="<%= @event.main_background? ? "background-image: url(\'#{@event.main_background.url}\')" : "" %>">
  <div class="container px-5 py-3">
      <div class="row">
            <div class="col-12">
              <div class="denied-wrapper">
                <h1 style="color: <%= @event.main_mouse_out %>;">Denied!</h1>
                <p class="lead">Sorry, you've been denied from entering this event.</p>
              </div>
            </div>
      </div>
  </div>
</div>
