<div class="chat-live-wrapper denied" style="<%= @event.main_background? ? "background-image: url(\'#{@event.main_background.url}\')" : "" %>">
  <div class="container px-5 py-3">
      <div class="row">
            <div class="col-12">
              <div class="denied-wrapper">
                <h1 style="color: <%= @event.main_mouse_out %>;">Sorry, the event has not started yet.</h1>
              </div>
            </div>
      </div>
  </div>
</div>
