<div class="chat-live-wrapper" style="<%= @event.main_background? ? "background-image: url(\'#{@event.main_background.url}\')" : "" %>">
  <div class="container-fluid px-3 py-5">
      <%= react_component("Live", {
        fbVideo: @event.fb_video?,
        ytVideo: @event.youtube_video?,
        noVideo: false,
        url: @event.stream_key,
        eventId: @event.id,
        currentUserId: @current_user.id,
        eventId: @event.id,
        like: @reaction.like?,
        heart: @reaction.heart?,
        happy: @reaction.happy?,
        sad: @reaction.sad?,
        wow: @reaction.wow?,
        angry: @reaction.angry?,
        dislike: @reaction.dislike?,
        clap: @reaction.clap?
      })%>
  </div>
</div>
