
<section id="home_section_1">
  <%= image_tag "banner.png", class: "img-fluid" %>
</section>
<section id="home_section_2" class="mb-3">
  <div class="container">
    <div class="row text-center py-5">
        <div class="col col-lg-12">
            <h1>Welcome!</h1>
            <%= render partial: "home/shared/facebook_live" %>
            <br/>
            <% unless @event&.brochure&.file.nil? %>
              <p>Click <%= link_to "here", @event.brochure.url, target: :_blank %> to download your brochure.</p>
            <% end %>
        </div>
      </div>
  </div>
</section>
