<div class="chat-live-wrapper main-bg">
  <div class="container-fluid px-3 py-5">
      <%= react_component("Live", {
        fbVideo: @event.fb_video?,
        ytVideo: @event.youtube_video?,
        noVideo: @event.no_video?,
        url: @event.stream_key,
        eventId: @event.id,
        currentUserId: @current_user.id,
        eventId: @event.id,
        like: @reaction.like?,
        heart: @reaction.heart?,
        happy: @reaction.happy?,
        sad: @reaction.sad?,
        wow: @reaction.wow?,
        angry: @reaction.angry?,
        dislike: @reaction.dislike?,
        clap: @reaction.clap?,
        eventDescription: @event.description,
        raffleId: @guest.raffle_number,
        countLike: Reaction.count_reactions(Reaction::LIKE, "User", @current_user.id, @event.id),
        countDislike: Reaction.count_reactions(Reaction::DISLIKE, "User", @current_user.id, @event.id),
        countClap: Reaction.count_reactions(Reaction::CLAP, "User", @current_user.id, @event.id),
        countLove: Reaction.count_reactions(Reaction::HEART, "User", @current_user.id, @event.id),
        countHaha: Reaction.count_reactions(Reaction::HAPPY, "User", @current_user.id, @event.id),
        countWow: Reaction.count_reactions(Reaction::WOW, "User", @current_user.id, @event.id),
        countSad: Reaction.count_reactions(Reaction::SAD, "User", @current_user.id, @event.id),
        countAngry: Reaction.count_reactions(Reaction::ANGRY, "User", @current_user.id, @event.id),
        hasBrochure: @event.has_brochure?
      })%>

  </div>
</div>
