
<section id="home_section_1">
  <%= image_tag "banner.png", class: "img-fluid" %>
</section>
<section id="home_section_2" class="mb-3">
  <div class="container">
    <div class="row text-center py-5">
        <div class="col col-lg-12">
            <h1>Welcome!</h1>
            <p>ARE YOU READY TO BE PLUSITIVE?
            KNOW MORE ABOUT THE AMWAY CUSTOMER SALES INCENTIVE that will definitely give you PLUS earnings.<br/><br/>

            JOIN US via Zoom Meetings and enjoy the program, games and win exciting prizes!<br/><br/>

            See you on Friday, January 15, 2021 at 6 in the evening.<br/><br/>

            Meeting ID: 919 5784 8994<br/>
            Passcode: CSI2021<br/><br/>

            #APHLCSI #CorePlus</p>
            <% unless @event&.brochure&.file.nil? %>
              <p>Click <%= link_to "here", @event.brochure.url, target: :_blank %> to download your brochure.</p>
            <% end %>
        </div>
      </div>
  </div>
</section>
