<div class="chat-live-wrapper thankyou main-bg">
  <div class="container px-5 py-3">
      <div class="row">
            <div class="col-12">
              <div class="thankyou-wrapper">
                <h1 style="color: <%= @event.main_mouse_out %>;">Thank you for registering</h1>
                <br/>
                <p class="lead">The admin will check your login credentials before granting access.
                  <br/>
                  <br/>
                  Sign in
                  <% unless @event.start_date.nil? %>
                    on <%= date_formatter(@event.start_date) %>
                  <% end %>
                  <% unless @event.start_time.nil? %>
                   at <%= time_formatter(@event.start_time) %>
                  <% end %>
                  using the email address and password that you have registered to enjoy the show.
                </p>
              </div>
            </div>
      </div>
  </div>
</div>
