<div class="container-fluid raffle-wrapper">
  <div class="row mb-3 text-center">
    <div class="col col-lg-12">
      <div class="name-wrapper">
        <h2>Name of Winner Long Name Bla</h2>
      </div>
      <button class="btn btn-draw">Draw</button>
      <button class="btn btn-winner">Winner</button>
    </div>
  </div>
</div>
