<div class="container content-wrapper">
  <div class="row event-wrapper">
    <div class="col col-md-3 col-lg-2">
      <form class="upload_wrapper mb-3">
        <input type="file" id="event_cover" hidden onchange="form.submit()">
        <label for="event_cover" class="event_cover_btn"><i class="fas fa-upload"></i>Upload<br/>Event Cover Here</label>
      </form>
    </div>
    <div class="col col-md-9 col-lg-10 text-start">
      <h2 class="event_title"><%= @event.title %></h2>
      <span class="event_status"><%= Event::STATUSES[@event.status] %></span>
      <p class="event_description">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
        nisl ut aliquip ex ea commodo consequat. Duis autem vel
      </p>
    </div>
  </div>
  <div class="row text-start mt-3">
    <div class="col col-lg-12">
      <h5>Schedule</h5>
      <div class="event_date_wrapper">
        <span class="mr-3"><strong>Date: </strong></span>
        <span class="event_date">2021-01-16 to 2021-01-17</span>
      </div>
      <div class="event_time_wrapper">
        <span class="mr-3"><strong>Time: </strong></span>
        <span class="event_time">09:00 to 18:00</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12">
      <nav class="mb-4">
        <div class="nav nav-tabs" id="events_views" role="tablist">
          <a class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" href="#nav-users" role="tab" aria-controls="nav-users" aria-selected="true">GUEST LIST</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
          <table id="event_id_guest_list" class="display">
            <thead>
              <tr>
                <th>Full Name</th>
                <th>Birth Date</th>
                <th>Email</th>
                <th>Password</th>
                <th>Member ID</th>
                <th>Member Type</th>
                <th>Affiliation</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>JuanDelaCruz01</td>
                <td>December 12, 1998</td>
                <td>juandelacruz@gmail.com</td>
                <td>encryptedpassword</td>
                <td>12345</td>
                <td>Member</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td>JuanDelaCruz01</td>
                <td>December 12, 1998</td>
                <td>juandelacruz@gmail.com</td>
                <td>encryptedpassword</td>
                <td>12345</td>
                <td>Member</td>
                <td>N/A</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
