<div class="container-fluid single-page-layout error-page">
  <div class="row align-items-center text-center h-100">
    <div class="col-12">
      <%= image_tag "401.png", class: "img-fluid" %>
      <h2 class="error-page-title">Unauthorized.</h2>
      <p class="error-page-subtitle">Look, you don't belong here.</p>
    </div>
  </div>
</div>
