<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
<div class="fb-video facebook-responsive"
  data-href="https://www.facebook.com/facebook/videos/<%= url %>"
  data-width="560"
  data-allowfullscreen="true">
</div>