body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fade55;
  }

  *, ::after, ::before{
      box-sizing: unset;
  }

  body > div{
      height: 100%;
  }
  
  
  .cntr {
  
    height:  800px;
    width:  1920px;
    left: 50%;
    position: absolute;
    top: 0px;
    transform: translate(-50%, 0%);
  }
  
  .bg {
    /* The image used */
    background-image: url("bg.jpg");
  
    /* Full height */
    height: 102%;
    width: 102%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  
  }
  .bora {
      position: absolute;
      top: 600px;
      left: 200px;
      z-index: 1;
      height: 163px;
      width: 266px;
  
  }
  
  .mProgram{
      position: absolute;
      top: 200px;
      left: 500px;
      z-index: 1;
      height: 236px;
      width: 258px;
  
  }
  
  .diamond{
      position: absolute;
      top: 420px;
      left: 700px;
      z-index: 1;
      height: 221px;
      width: 254px;
  
  }
  
  .feedback{
      position: absolute;
      top: 250px;
      left: 1000px;
      z-index: 1;
      height: 287px;
      width: 176px;
  
  }
  
  .aniv{
    position: absolute;
    top: 0px;
    left: 1000px;
    z-index: 1;
    height: 300px;
    width: 324px;
  
  }
  
  
  .als{
      position: absolute;
      top: 300px;
      left: 1400px;
      z-index: 1;
  
  }
  
  .cor{
    position: absolute;
    top: 600px;
    left: 1200px;
    z-index: 1;
  
  }
  
  
  .island {
      /* background-image: url("bora.png"); */
      position: absolute;
      top: -100px;
      left: 0px;
  
  }
  
  .zoom {
    padding: 50px;
    transition: transform .1s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  
  }
  
  
  /***** MODAL *****/
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #10b0c8;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    
    color: 727272;
  }
  
  
  /* Thumbnail */
  
  .img_thumb {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px;
    width: 150px;
  }
  
  .img_thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  th, td {
    padding: 15px;
  
  }
  
/**
* Actions
**/

.action-wrapper i.fas,
.action-wrapper i.far {
    color: #3943ca;
    font-size: 22px;
}

.action-wrapper i.fas.fa-check-circle,
.action-wrapper i.far.fa-check-circle{
	color: #28a745;
}


fieldset {
	border: solid 1px #000 !important;
	padding: 0 10px 20px 10px;
	border-bottom: none;
	border-radius: 10px;
	color: #000;
}

fieldset i {
    color: #000;
}

fieldset legend {
	width: auto !important;
	border: none;
	font-size: 14px;
	float: none;
	color: #000;
}


.questionnaire--actions{
	position: relative;
    margin: 0px 10px;
}

.questionnaire--actions input[type="submit"]{
	z-index: 2;
    background: transparent;
    border: none;
    position: absolute;
    width: 100%;
}