body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fade55;
}


.cntr {

  height:  800px;
  width:  1920px;
  left: 50%;
  position: absolute;
  top: 100%; 
  transform: translate(-50%, -115%);
}

.bg {
  /* The image used */
  background-image: url("bg.jpg");

  /* Full height */
  height: 105%;
  width: 102%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

}
.bora {
	position: absolute;
	top: 600px;
	left: 150px;
	z-index: 1;
	height: 122px;
	width: 200px;

}

.mProgram{
	position: absolute;
	top: 440px;
	left: 490px;
	z-index: 1;
	height: 177px;
	width: 193px;

}

.diamond{
	position: absolute;
	top: 220px;
	left: 730px;
	z-index: 1;
	height: 165px;
	width: 190px;

}

.feedback{
	position: absolute;
	top: 200px;
	left: 1020px;
	z-index: 1;
	height: 215px;
	width: 132px;

}

.aniv{
  position: absolute;
  top: 200px;
  left: 330px;
  z-index: 1;
  height: 225px;
  width: 243px;

}


.als{
  position: absolute;
  top: 280px;
  left: 1250px;
  z-index: 1;
  height: 102px;
  width: 102px;

}

.alsVid1{
  position: absolute;
  top: 420px;
  left: 1250px;
  z-index: 1;
  height: 50px;
  width: 35px;

}


.alsVid2{
  position: absolute;
  top: 370px;
  left: 1400px;
  z-index: 1;
  height: 50px;
  width: 35px;

}


.alsVid3{
  position: absolute;
  top: 420px;
  left: 1450px;
  z-index: 1;
  height: 50px;
  width: 35px;

}


.alsVid4{
  position: absolute;
  top: 560px;
  left: 1550px;
  z-index: 1;
  height: 50px;
  width: 35px;

}


.alsVid5{
  position: absolute;
  top: 620px;
  left: 1450px;
  z-index: 1;
  height: 50px;
  width: 35px;
}



.sales{
  position: absolute;
  top: 450px;
  left: 1500px;
  z-index: 1;
  height: 75px;
  width: 150px;

}

.fruit{
  position: absolute;
  top: 530px;
  left: 1400px;
  z-index: 1;
  height: 80px;
  width: 112px;

}



.cor{
  position: absolute;
  top: 530px;
  left: 920px;
  z-index: 1;
  height: 30;
  width: 61px;

}



.corVid1{
  position: absolute;
  top: 730px;
  left: 870px;
  z-index: 1;
  height: 50px;
  width: 35px;
}

.corVid2{
  position: absolute;
  top: 680px;
  left: 1020px;
  z-index: 1;
  height: 50px;
  width: 35px;
}




.island {
  /* background-image: url("bora.png"); */
  position: absolute;
  top: -100px;
  left: 0px;

}

.hdr {
  /* background-image: url("bora.png"); */
  position: absolute;
  top: 30px;
  left: 330px;


}


.power{
  position: absolute;
  top: 570px;
  left: 820px;
  z-index: 1;
  height: 50;
  width:  75px;

}

.game3{
  position: absolute;
  top: 570px;
  left: 1020px;
  z-index: 1;
  height: 50;
  width:  75px;

}




.bonanza{
  position: absolute;
  top: 440px;
  left: 900px;
  z-index: 1;
  height: 53   ;
  width:  95px;

}


.zoom {
  padding: 50px;
  transition: transform .1s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}


/***** MODAL *****/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #10b0c8;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  
  color: 727272;
}


/* //Thumbnail */

.img_thumb {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0px;
  width: 150px;
}

.img_thumb:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
th, td {
  padding: 15px;

}


/**
* Actions
**/

div[data-react-class="Expo"]{
  height: 100%;
  box-sizing: unset;
}

*, ::after, ::before{
  box-sizing: unset;
}

.action-wrapper i.fas,
.action-wrapper i.far {
    color: #3943ca;
    font-size: 22px;
}

.action-wrapper i.fas.fa-check-circle,
.action-wrapper i.far.fa-check-circle{
	color: #28a745;
}


fieldset {
	border: solid 1px #000 !important;
	padding: 0 10px 20px 10px;
	border-bottom: none;
	border-radius: 10px;
	color: #000;
}

fieldset i {
    color: #000;
}

fieldset legend {
	width: auto !important;
	border: none;
	font-size: 14px;
	float: none;
	color: #000;
}


.questionnaire--actions{
	position: relative;
    margin: 0px 10px;
}

.questionnaire--actions input[type="submit"]{
	z-index: 2;
    background: transparent;
    border: none;
    position: absolute;
    width: 100%;
}